@page
@using API.Controllers;
@using APPCORE.Security;
@{
    string? identfy = HttpContext?.Session?.GetString("sessionKey");
    if (!SecurityController.Auth(identfy))
    {
        Response.Redirect("./Security/Login");
        return;
    }
    else if (SecurityController.HavePermission(identfy, Permissions.ADMINISTRAR_CASOS_DEPENDENCIA,
        Permissions.ADMINISTRAR_CASOS_PROPIOS,
        Permissions.TECNICO_CASOS_DEPENDENCIA))
    {
        Response.Redirect("./home");
        return;
    }
    else if (!SecurityController.HavePermission(identfy, Permissions.INFORME_NOTIFICACIONES))
    {
        Response.Redirect("./Mensajes/ReporteNotificacionesManager");
        return;
    }
}
<h1>BIENVENIDO</h1>