@using API.Controllers
@using APPCORE.Security
@using DataBaseModel
@using System.Web
@using global::CAPA_NEGOCIO.MAPEO
@{
    string identify = Context.Session.GetString("sessionKey");
}
@if (identify != null)
{
    var SystemConfig = Config.SystemConfig();
    UserModel user = AuthNetCore.User(identify);
    var perfil = global::CAPA_NEGOCIO.MAPEO.Tbl_Profile.Get_Profile(user);
    var avatar = perfil.Foto != null
    ? perfil.Foto
    : (perfil!.Sexo?.ToUpper() == "M"
    ? SystemConfig.MEDIA_IMG_PATH + "avatar.png" : SystemConfig.MEDIA_IMG_PATH + "avatar_fem.png");
   
    <div class="navbar-header">
        <script>
            window.addEventListener("load", () => {
                document.querySelectorAll(".dropdown").forEach(dropdown => {
                    if(!dropdown.querySelector(".header-item")) return;
                    dropdown.querySelector(".header-item").onclick = (e) => {
                        document.querySelectorAll(".dropdown-menu").forEach( menuI => menuI.className = "dropdown-menu");
                        const menu = dropdown.querySelector(".dropdown-menu");
                        if (menu) {
                            menu.className = menu.className.includes("show") ? "dropdown-menu" : "dropdown-menu show"
                        }
                    }
                })
            })
        </script>
        <div class="d-flex">
            <theme-switcher></theme-switcher>
            <div class="dropdown">
                <a class="header-item">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48">
                    <path d="M38.498 36H9.502c-1.205 0-2.31-.607-2.955-1.625S5.822 32.1 6.335 31.01L9 25.648v-6.267c0-8.239 6.271-14.987 14.277-15.364l0 0c4.151-.188 8.08 1.271 11.075 4.128C37.35 11.004 39 14.859 39 19v6.648l2.65 5.333c.527 1.119.448 2.377-.197 3.395S39.703 36 38.498 36zM23.348 5.516h.01H23.348zM18.09 38c.478 2.833 2.942 5 5.91 5s5.431-2.167 5.91-5H18.09z"></path>
                    </svg>                   
                </a>
                <div class="dropdown-menu" id="dropDown1">
                    <h4 class="m-0 font-size-15"> Notificaciones </h4>
                    <span>
                        <div class="simplebar-content" style="padding: 0px;"></div>                       
                        <a href="~/Mensajes/NotificationesView">Ver más...</a>
                    </span>
                </div>
            </div>
            <div class="dropdown">
                <a class="header-item" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="@avatar" alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ms-2 fw-medium font-size-15">@perfil.Nombres</span>
                </a>
                <div class="dropdown-menu" id="dropDown2">
                    <div class="detail-menu">
                        <h4 class="mb-0"> @perfil.GetNombreCompleto()</h4>
                        <p class="mb-0 font-size-11 text-muted"> @perfil.Correo_institucional</p>
                    </div>
                    @if (SecurityController.HavePermission(identify, Permissions.PERFIL_ACCESS))
                    {
                        <a class="dropdown-item" href="~/Gestion_Usuarios/Perfil">Ver Perfil</a>
                    }
                    @if (SecurityController.IsAdmin(identify))
                    {
                        <a class="dropdown-item" href="~/Admin/Index">Admin Panel</a>
                    }
                    <a class="dropdown-item" href="#" id="btnLogOut">Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
}
