@using API.Controllers
@using APPCORE.Security
@using DataBaseModel
@using global::CAPA_NEGOCIO.SystemConfig

@{
    string Identify = Context.Session.GetString("sessionKey");
}

<a class="menu-item" id="Home" asp-area="" asp-page="/home">
    <svg viewBox="0 0 24.00 24.00" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#0d4c73" stroke-width="1.536">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" stroke="#212121"
            stroke-width="1.488">
            <path opacity="0.5"
                d="M13.1061 22H10.8939C7.44737 22 5.72409 22 4.54903 20.9882C3.37396 19.9764 3.13025 18.2827 2.64284 14.8952L2.36407 12.9579C1.98463 10.3208 1.79491 9.00229 2.33537 7.87495C2.87583 6.7476 4.02619 6.06234 6.32691 4.69181L7.71175 3.86687C9.80104 2.62229 10.8457 2 12 2C13.1543 2 14.199 2.62229 16.2882 3.86687L17.6731 4.69181C19.9738 6.06234 21.1242 6.7476 21.6646 7.87495C22.2051 9.00229 22.0154 10.3208 21.6359 12.9579L21.3572 14.8952C20.8697 18.2827 20.626 19.9764 19.451 20.9882C18.2759 22 16.5526 22 13.1061 22Z"
                fill="#06a3ec"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12 18.75C11.5858 18.75 11.25 18.4142 11.25 18V15C11.25 14.5858 11.5858 14.25 12 14.25C12.4142 14.25 12.75 14.5858 12.75 15V18C12.75 18.4142 12.4142 18.75 12 18.75Z"
                fill="#06a3ec"></path>
        </g>
        <g id="SVGRepo_iconCarrier">
            <path opacity="0.5"
                d="M13.1061 22H10.8939C7.44737 22 5.72409 22 4.54903 20.9882C3.37396 19.9764 3.13025 18.2827 2.64284 14.8952L2.36407 12.9579C1.98463 10.3208 1.79491 9.00229 2.33537 7.87495C2.87583 6.7476 4.02619 6.06234 6.32691 4.69181L7.71175 3.86687C9.80104 2.62229 10.8457 2 12 2C13.1543 2 14.199 2.62229 16.2882 3.86687L17.6731 4.69181C19.9738 6.06234 21.1242 6.7476 21.6646 7.87495C22.2051 9.00229 22.0154 10.3208 21.6359 12.9579L21.3572 14.8952C20.8697 18.2827 20.626 19.9764 19.451 20.9882C18.2759 22 16.5526 22 13.1061 22Z"
                fill="#06a3ec"></path>
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M12 18.75C11.5858 18.75 11.25 18.4142 11.25 18V15C11.25 14.5858 11.5858 14.25 12 14.25C12.4142 14.25 12.75 14.5858 12.75 15V18C12.75 18.4142 12.4142 18.75 12 18.75Z"
                fill="#06a3ec"></path>
        </g>
    </svg>
    <label>HOME</label>
</a>



@if (SecurityController.HavePermission(Identify, Permissions.PERFIL_ACCESS))
{
    <a class="menu-item" href="~/Gestion_Usuarios/Perfil">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path opacity=""
                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                    fill="#06a3ec"></path>
                <path
                    d="M16.807 19.0112C15.4398 19.9504 13.7841 20.5 12 20.5C10.2159 20.5 8.56023 19.9503 7.193 19.0111C6.58915 18.5963 6.33109 17.8062 6.68219 17.1632C7.41001 15.8302 8.90973 15 12 15C15.0903 15 16.59 15.8303 17.3178 17.1632C17.6689 17.8062 17.4108 18.5964 16.807 19.0112Z"
                    fill="#c9c9c9"></path>
                <path
                    d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3432 6 9.00004 7.34315 9.00004 9C9.00004 10.6569 10.3432 12 12 12Z"
                    fill="#c9c9c9"></path>
            </g>
        </svg>
        <label>Mi Perfil</label>
    </a>
}
@if (SystemConfigImpl.IsMessagesActive() || SystemConfigImpl.IsNotificationsActive())
{

    @if (SystemConfigImpl.IsNotificationsActive() && SecurityController.HavePermission(Identify,
    Permissions.NOTIFICACIONES_READER))
    {
        <a href="~/Mensajes/NotificationesView" id="NotificationesView" class="menu-item">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M16.9414 8.73591C16.2551 8.36932 15.7811 7.65741 15.7515 6.83225C15.7505 6.80496 15.75 6.77754 15.75 6.75C15.75 6.19642 15.949 5.69126 16.2801 5.29919C16.694 4.8092 17.3105 4.5 18 4.5C19.2426 4.5 20.25 5.50736 20.25 6.75C20.25 7.75592 19.5893 8.6095 18.6764 8.89677C18.4638 8.96365 18.2369 9 18 9C17.6173 9 17.2569 8.90445 16.9414 8.73591Z"
                        fill="#009bc2"></path>
                    <path
                        d="M14.25 6.75C14.25 8.56231 15.5356 10.0743 17.2446 10.4239C17.2449 10.4492 17.2451 10.4746 17.2451 10.5V13.65L18.1949 14.7897C19.0091 15.7667 18.3143 17.25 17.0426 17.25H6.94769C5.67593 17.25 4.9812 15.7667 5.79536 14.7897L6.74513 13.65V10.5C6.74513 7.85523 8.70078 5.66724 11.2449 5.3032V4.5C11.2449 4.08579 11.5807 3.75 11.9949 3.75C12.4091 3.75 12.7449 4.08579 12.7449 4.5V5.30313C13.3213 5.38555 13.8675 5.56159 14.3676 5.81536C14.2908 6.11427 14.25 6.42748 14.25 6.75Z"
                        fill="#009bc2"></path>
                    <path
                        d="M8.56274 18.75C8.75015 19.1794 9.01645 19.5701 9.34802 19.9017C9.69624 20.2499 10.1096 20.5261 10.5646 20.7145C11.0196 20.903 11.5072 21 11.9997 21C12.4921 21 12.9798 20.903 13.4347 20.7145C13.8897 20.5261 14.3031 20.2499 14.6513 19.9017C14.9829 19.5701 15.2492 19.1794 15.4366 18.75H8.56274Z"
                        fill="#009bc2"></path>
                </g>
            </svg>
            <label>Notificaciones</label>
        </a>
    }
    @if (SystemConfigImpl.IsNotificationsActive() && SecurityController.HavePermission(Identify,
    Permissions.NOTIFICACIONES_MANAGER))
    {
        <a href="~/Mensajes/NotificacionesManager" id="NotificacionesManager" class="menu-item">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8.25 3C8.66421 3 9 3.33579 9 3.75V4.5H15V3.75C15 3.33579 15.3358 3 15.75 3C16.1642 3 16.5 3.33579 16.5 3.75V4.5H18.75C19.9926 4.5 21 5.50736 21 6.75V18.75C21 19.9926 19.9926 21 18.75 21H5.25C4.00736 21 3 19.9926 3 18.75V6.75C3 5.50736 4.00736 4.5 5.25 4.5H7.5V3.75C7.5 3.33579 7.83579 3 8.25 3ZM4.5 9L19.5 9V6.75C19.5 6.33579 19.1642 6 18.75 6H16.5V6.75C16.5 7.16421 16.1642 7.5 15.75 7.5C15.3358 7.5 15 7.16421 15 6.75V6H9V6.75C9 7.16421 8.66421 7.5 8.25 7.5C7.83579 7.5 7.5 7.16421 7.5 6.75V6H5.25C4.83579 6 4.5 6.33579 4.5 6.75V9Z"
                        fill="#06a3ec"></path>
                </g>
            </svg><label>notificaciones admin.</label>
        </a>
    }   
    @if (SystemConfigImpl.IsMessagesActive() && SecurityController.HavePermission(Identify, Permissions.SEND_MESSAGE))
    {
        <a href="~/Mensajes/MensajesView" class="menu-item">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path opacity="0.4"
                        d="M22 7.43018V13.4302C22 14.9302 21.5 16.1802 20.62 17.0602C19.75 17.9302 18.5 18.4302 17 18.4302V20.5602C17 21.3602 16.11 21.8402 15.45 21.4002L11 18.4302H8.88C8.96 18.1302 9 17.8202 9 17.5002C9 16.4802 8.61 15.5402 7.97 14.8302C7.25 14.0102 6.18 13.5002 5 13.5002C3.88 13.5002 2.86 13.9602 2.13 14.7102C2.04 14.3102 2 13.8802 2 13.4302V7.43018C2 4.43018 4 2.43018 7 2.43018H17C20 2.43018 22 4.43018 22 7.43018Z"
                        fill="#06a3ec"></path>
                    <path
                        d="M15.5 11.25H8.5C8.09 11.25 7.75 10.91 7.75 10.5C7.75 10.09 8.09 9.75 8.5 9.75H15.5C15.91 9.75 16.25 10.09 16.25 10.5C16.25 10.91 15.91 11.25 15.5 11.25Z"
                        fill="#06a3ec"></path>
                    <path
                        d="M5 13.5C2.79 13.5 1 15.29 1 17.5C1 18.25 1.20999 18.96 1.57999 19.56C2.26999 20.72 3.54 21.5 5 21.5C6.46 21.5 7.73001 20.72 8.42001 19.56C8.79001 18.96 9 18.25 9 17.5C9 15.29 7.21 13.5 5 13.5ZM6.97 17.17L4.84 19.14C4.7 19.27 4.50999 19.34 4.32999 19.34C4.13999 19.34 3.94999 19.27 3.79999 19.12L2.81 18.13C2.52 17.84 2.52 17.36 2.81 17.07C3.1 16.78 3.58 16.78 3.87 17.07L4.35001 17.55L5.95001 16.07C6.25001 15.79 6.73001 15.81 7.01001 16.11C7.29001 16.41 7.27 16.89 6.97 17.17Z"
                        fill="#06a3ec"></path>
                </g>
            </svg>
            <label>Mensajes</label>
        </a>
    }
}


@* ADMIN####################################################################################################### *@

@if (SecurityController.HavePermission(Identify, Permissions.ADMIN_ACCESS))
{
    <a class="menu-item" id="AdminPanel" href="~/Admin/Index">
        <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path fill-rule="evenodd"
                    d="M9.027 0a1 1 0 00-.99.859l-.37 2.598A6.993 6.993 0 005.742 4.57L3.305 3.59a1 1 0 00-1.239.428L.934 5.981a1 1 0 00.248 1.287l2.066 1.621a7.06 7.06 0 000 2.222l-2.066 1.621a1 1 0 00-.248 1.287l1.132 1.962a1 1 0 001.239.428l2.438-.979a6.995 6.995 0 001.923 1.113l.372 2.598a1 1 0 00.99.859h2.265a1 1 0 00.99-.859l.371-2.598a6.995 6.995 0 001.924-1.112l2.438.978a1 1 0 001.238-.428l1.133-1.962a1 1 0 00-.249-1.287l-2.065-1.621a7.063 7.063 0 000-2.222l2.065-1.621a1 1 0 00.249-1.287l-1.133-1.962a1 1 0 00-1.239-.428l-2.437.979a6.994 6.994 0 00-1.924-1.113L12.283.86a1 1 0 00-.99-.859H9.027zm1.133 13a3 3 0 100-6 3 3 0 000 6z"
                    fill="#06a3ec"></path>
            </g>
        </svg>
        <label>Panel Administrador</label>
    </a>
}
