@page
@using API.Controllers
@using APPCORE.Security
@using DataBaseModel
@{
    string? identify = HttpContext?.Session.GetString("sessionKey");
    var SystemConfig = Config.SystemConfig();
    if (!SecurityController.HavePermission(identify, Permissions.NOTIFICACIONES_READER))
    {
        Response.Redirect("./");
        return;
    }
}
<script type="module">
    import {NotificacionesView} from "/Notificaciones_Mensajeria/Gestion_Mensajes/NotificacionesView.js";
    window.onload = ()=> {
        MainN.append(new NotificacionesView());
    } 
</script>
<div id="MainN"></div>