@page
@using API.Controllers
@using APPCORE.Security
@using DataBaseModel
@{
    string? identify = HttpContext?.Session.GetString("sessionKey");
    var SystemConfig = Config.SystemConfig();
    if (!SecurityController.HavePermission(identify, Permissions.NOTIFICACIONES_READER))
    {
        Response.Redirect("./");
        return;
    }
}
<script type="text/javascript" src="/WDevCore/libs/xlsx.full.min.js"></script>
<script type="module">
    import {NotificacionesManagerView} from "/Notificaciones_Mensajeria/Gestion_Mensajes/NotificacionesManagerView.js";
    window.onload = ()=> {
        MainN.append(new NotificacionesManagerView());
    } 
</script>
<div id="MainN"></div>