.card-dependencia, .card-style {
    border-radius: 20px;
    background: #1b233d;
    padding: 5px;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    max-height: 80px;
    min-width: 290px;
    margin-bottom: 5px;
}          

.card-dependencia .top-section .border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #1b233d;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #1b233d;
}

.card-dependencia .top-section .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #1b233d;
}

.card-dependencia .top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #1b233d;
}

.card-dependencia .top-section .icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.card-dependencia .top-section .icons .logo {
    height: 100%;
    aspect-ratio: 1;
    padding: 7px 0 7px 15px;
}

.card-dependencia .top-section .icons .logo .top-section {
    height: 100%;
}

.card-dependencia .top-section .icons .social-media {
    height: 100%;
    padding: 8px 15px;
    display: flex;
    gap: 7px;
}

.card-dependencia .top-section .icons .social-media .svg {
    height: 100%;
    fill: #1b233d;
}

.card-dependencia .top-section .icons .social-media .svg:hover {
    fill: white;
}

.card-dependencia .bottom-section {
    padding: 10px 5px;
}

.card-dependencia .bottom-section .title {
    display: block;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    letter-spacing: 2px;
}
.card-dependencia .bottom-section .subtitle {
    display: block;
    font-size: 9px;
    font-weight: 400;
    color: white;
    letter-spacing: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}           

.card-dependencia .bottom-section .row {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.card-dependencia .bottom-section .row .item {
    flex: 30%;
    text-align: center;
    padding: 5px;
    color: rgba(170, 222, 243, 0.721);
}

.card-dependencia .bottom-section .row .item .big-text {
    font-size: 12px;
    display: block;
}

.card-dependencia .bottom-section .row .item .regular-text {
    font-size: 9px;
}

.card-dependencia .bottom-section .row .item:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.126);
    border-right: 1px solid rgba(255, 255, 255, 0.126);
}    